{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Validation{% endblock %}

{% block stylesheets %}
    <link href="/css/frontend/singlepage.css" rel="stylesheet">
{% endblock %}

{% block body %}

<div class="container mt-4">
    <div class="jumbotron">
        <h2>Choisir un avatar</h2><br>
        {{ form_start(form) }}
        {{ form_end(form) }}
    </div>
</div>

{% endblock %}