/* Base */

#navbarSupportedContent ul {
    width: 100%;
    justify-content: flex-end;
}

footer {
    color: black;
    background-color: #e4e4e4;
}

.pagination {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.pagination a {
    border: solid black 1px;
    padding: 4px 8px;
}

.pagination span {
    margin-right: 5px;
}