{% extends 'base.html.twig' %}

{% block title %}SnowTricks{% endblock %}

{% block stylesheets %}
    <link href="css/frontend/homepage.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div id="header">
        <div id="accroche">
            <h2 class="align-middle">SnowTricks!<br>L'annuaire des Tricks de Snowboard</h2>
        </div>
        <a href="#">
            <img src="img//open-iconic-master/svg/arrow-thick-bottom.svg" height="50" id="fleche">
        </a>
    </div>
{% endblock %}
